{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'sideapp/css/main.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/index.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/addDoc.css' %}>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- user / setting / homepage -->
            <div class="col-md-2  border-right  hidden dontShow" id="sidebar">
                <div class="card p-5" id="sideColumn" >
                    <div class="d-flex content-end p-1" >
                        <i class="w-100 fa-solid fa-bars" id="hidden"></i>
                    </div>
                    <div class="user mt-5  content-center ">
                        <i class="fa-regular fa-user"></i>
                        <h3>Muhammet Ali Yaşar</h3>
                        <h4>ma.yasar@eksi16.com</h4>
                    </div>
                    <div class="d-flex align-items-center  mt-5 ">
                        <i class="w-100  fa-solid fa-house p-2"></i>
                        <h3 class="m-0">
                            <a href="/home">Anasayfa</a>
                        </h3>
                    </div>
                    <div class="d-flex align-items-center mt-1 ">
                        <i class="fa-solid fa-gear p-2"></i>
                        <h3 class="m-0">
                            <a href="">Ayarlar</a>
                        </h3>
                    </div>
                    <div class="d-flex align-items-center mt-1 ">
                        <i class="fa-solid fa-file p-2"></i>
                        <h3 class="m-0">
                            <a href="/documents">Belgele Tanımlama</a>
                        </h3>
                    </div>
                </div>

            </div>
            <!-- belge yükleme -->
            <div class="col-md-10 " id="mainbar">
                <div class="card">
                    <div class="row border-bottom">
                        <div class="show">
                            <i class="w-100 fa-solid fa-bars p-5" id="show"></i>
                        </div>
                        <a href="/home">
                            <i class="w-100 fa-solid fa-house  p-5"></i>
                        </a>
                    </div>
                    <!-- documents section -->
                    <div class="d-flex fd-column ">
                        <div class="col-md-6 center ">
                            <h1 class="content-center" >Belge Tanımlama Ekranı</h1>
                            <label  for="docName">Belge Adı</label>
                            <input class="mb-5 mt-1" type="text" id="docName">
                            <label  for="imgInput">Belge Fotoğrafı</label>
                            <div class="d-flex content-center align-items-center" id="uploadSection" >
                                 <label for="imgInput"  >
                                    <i class="fa-solid fa-upload "></i>
                                </label>
                                <input  class="mt-1" type="file" id="imgInput">
                                <div>
                                    <h5 id="photoName"></h5>
                                </div>
                            </div>
                            <div class="d-flex content-end">
                                <button class="loadBtn" onclick="uploadDocument()">Yükle</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/5bec9f942b.js" crossorigin="anonymous"></script>
    <script src={% static 'sideapp/js/main.js' %}></script>
    <script src={% static 'sideapp/js/addDocument.js' %}></script>
</body>
</html>