{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'sideapp/css/main.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/index.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/ocr.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/navbar.css' %}>
    <title>Title</title>
</head>
<body>

    {% include 'sideapp/partials/_navbar.html' %}

    <div class="container mt-5 mb-5">
        <div class="containerOCR">
            <h1 class="content-center title" >Belge OCR Tanımı</h1>
            <div class="o-card ">
                <div class="rowOCR fd-column gap-1">
                    <div class="col-fit-content">
                        <div class="i-card d-flex">
                            <img  id="screenshot" draggable="false" width="600" height="450" class="p-5">
                            <svg width="750" height="750" viewBox="0 0 750 750" id="draw" xmlns="http://www.w3.org/2000/svg">
                                <rect id="marquee" x="450" y="420" width="150" height="150" />
                                <g id="boxes"></g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="i-card p-30" id="innerCard">
                            <div class="d-flex content-end gap-2 mb-2">
                                <i class="fa-solid fa-plus p-1" id="ocrIcon" onclick="addKey()"></i>
                                <i class="fa-solid fa-check p-1" id="ocrIcon" onclick="saveButton()"></i>
                            </div>
                            <!--
                                key and value elements will be here when add button clicked.
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script async src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/5bec9f942b.js" crossorigin="anonymous"></script>
    <script src={% static 'sideapp/js/main.js' %}></script>
    <script async src={% static 'sideapp/js/ocrKeys.js' %}></script>
    <script async src={% static 'sideapp/js/ocr.js' %}></script>
    <script src={% static 'sideapp/js/navbar.js' %}></script>

</body>
</html>