{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'sideapp/css/main.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/index.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/documentDetails.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/navbar.css' %}>
    <title>Title</title>
</head>
<body>

    {% include 'sideapp/partials/_navbar.html' %}


    <div class="container mt-5">
        <div class="d-flex fd-column mb-5">
            <div class="col-md-4 center ">
                <h1 class="content-center title" id="title" ></h1>
                <div class="card p-5">
                    <div class="d-flex content-end gap-2 mt-5">
                        <a href="documents">
                            <i class="fa-solid fa-arrow-left-long"></i>
                        </a>
                        <a id="ocrLink">
                            <i class="fa-regular fa-file"></i>
                        </a>
                        <a id="editLink">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                    </div>
                    <div class="mt-5">
                        <label for="docName" >Belge İsmi</label>
                        <input class=" mb-5 mt-1 content-center" type="text" id="docName" readonly="readonly" >
                    </div>
                    <label for="photo">Belge Fotoğrafı</label>
                    <div class="d-flex content-center align-items-center">
                        <img id="docPhoto" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/5bec9f942b.js" crossorigin="anonymous"></script>
    <script src={% static 'sideapp/js/main.js' %}></script>
    <script src={% static 'sideapp/js/documentDetails.js' %}></script>
    <script src={% static 'sideapp/js/navbar.js' %}></script>
</body>
</html>