{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={% static 'sideapp/css/main.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/index.css' %}>
    <link rel="stylesheet" href={% static 'sideapp/css/navbar.css' %}>
    <title>Document</title>
</head>
<body>
    {% include 'sideapp/partials/_navbar.html' %}
    <div class="container">
            <div class="col-md-10 " id="mainbar">
                    <!-- upload section -->
                    <div class="uploadSection d-flex fd-column content-center align-items-center">
                        <h1 class='title'>Belge Yükleme Ekrani</h1>
                        <div class="droparea d-flex fd-column p-relative">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="file" id="upload"  accept="image/*,pdf" multiple>
                                <label for="upload" id="label" >
                                    <i class="fa-solid fa-file-import"></i>
                                    <p class="labelText">Yüklemek için fotoğraf yükleyiniz ya da sürükleyip bırakınız.</p>
                                </label>
                                <div id="image-display">
                                    <div class="row me-3 ms-3" id="row">
                                        <!-- when someone upload photo, its be here!-->
                                    </div>
                                </div>
                                <div class="close-icon hidden p-absolute" id="closeBtn">
                                    <i class="fa-solid fa-xmark"></i>
                                </div>
                                <div class="uploadBtnDiv">
                                    <button class="uploadBtn p-absolute" type="button"   onclick="uploadPhoto(this)">
                                        Yükle
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        <img class="upldImg" src={% static 'sideapp/img/Uploa.gif' %} alt="">
    </div>


    <script src="https://kit.fontawesome.com/5bec9f942b.js" crossorigin="anonymous"></script>
    <script src={% static 'sideapp/js/index.js' %}></script>
    <script src={% static 'sideapp/js/main.js' %}></script>
    <script src={% static 'sideapp/js/navbar.js' %}></script>
</body>
</html>