

th{
    background-color: #638181;
    border: 2px solid black;
}

td{
    background-color: darkgrey;
    height: 50px;
    border: 2px solid black;
    font-size: 25px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

td a{
    color: black;
}

.addBtn{
    width: 15%;
    height: 40px;
    margin-right: 30px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 0 black;
}

.addBtn a{
    text-decoration: none;
    color: black;
}


button:not(.addBtn){
    background-color: darkgrey;
    border: 0;
}

button i{
    font-size: 24px;
}

@media screen and (max-width: 600px){
    .addBtn{
        width: 25%;
    }
}

