@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
/* font-family: 'Carrois Gothic SC', sans-serif; */

body{
    padding: 0;
    margin: 0;
    background-color: #DFECFF;
}

.container{
    height: 90vh;
}

.card{
    border: 2px solid rgba(0, 0, 0, 0.55);
    background-color: rgba(164, 179, 190, 0.2);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar{
    display: none!important;
    width: 0;
    height: 0;
}

.card:hover{
    transition: 0.5s ease-in-out;
    border-color: #A4B3BE;
    background-color: rgba(164, 179, 190, 0.7);
}

.title{
    text-transform: uppercase;
    color: #10405F;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.forgetPassword a{
    color: #10405F;
    font-size: 15px;
    text-decoration: none;
}

.ta-start{
    text-align: start;
}

.input{
    width: 100%;
    border: 0;
    border-bottom: 3px solid black;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(164, 179, 190, 0.2);
    height: 30px;
    text-align: center;
}

.input:focus{
    outline: none;
}

.submitBtn{
    width: 50%;
    height: 40px;
    background-color: #4687a2;
    box-shadow: 3px 3px 15px black;
    cursor: pointer;
    border-radius: 30px;
}

.submitBtn:hover{
    transition: 1s ease;
    background-color: #96ccee;
}

#waves{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    animation: waves 5s linear 2s infinite alternate;
}


.alert{
    display: none;
    justify-content: center;
    text-align: center;
    height: 70px;
    width: 100%;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(232, 75, 75, 0.52);
}

.show{
    display: flex;
}



@keyframes waves {
    from { transform: scale(2,1)}
    
}

@media screen and (max-width: 1000px){
    .col-md-3{
        width: 90%;
    }
}
