

.col-md-1{width: 8.33%}
.col-md-2{width: 16.66%}
.col-md-3{width: 25%}
.col-md-4{width: 33.33%}
.col-md-5{width: 41.66%}
.col-md-6{width: 50%}
.col-md-7{width: 58.33%}
.col-md-8{width: 66.66%}
.col-md-9{width: 75%}
.col-md-10{width: 83.33%}
.col-md-11{width: 91.66%}
.col-md-12{width: 100%}

.col-fit-content{width: fit-content}


.m-0{margin: 10px}
.m-1{margin: 20px}
.m-2{margin: 30px}
.m-3{margin: 40px}
.m-4{margin: 50px}
.m-5{margin: 60px}

.mt-1{margin-top: 10px}
.mt-2{margin-top: 20px}
.mt-3{margin-top: 30px}
.mt-4{margin-top: 35px}
.mt-5{margin-top: 40px}

.mb-1{margin-bottom: 10px}
.mb-2{margin-bottom: 20px}
.mb-3{margin-bottom: 30px}
.mb-4{margin-bottom: 35px}
.mb-5{margin-bottom: 40px}

.ms-1{margin-left: 10px}
.ms-2{margin-left: 20px}
.ms-3{margin-left: 30px}
.ms-4{margin-left: 35px}
.ms-5{margin-left: 40px}

.me-1{margin-right: 10px}
.me-2{margin-right: 20px}
.me-3{margin-right: 30px}
.me-4{margin-right: 35px}
.me-5{margin-right: 40px}

.p-1{padding: 5px}
.p-2{padding: 10px}
.p-3{padding: 15px}
.p-4{padding: 20px}
.p-5{padding: 25px}

.gap-1{gap: 20px}
.gap-2{gap: 30px}
.gap-3{gap: 40px}
.gap-4{gap: 50px}
.gap-5{gap: 60px}

w-25{width: 25%}
w-50{width: 50%}
w-75{width: 75%}
w-100{width: 100%}

h-25{height: 25%}
h-50{height: 50%}
h-75{height: 75%}
h-100{height: 100%}

.d-grid{display: grid}
.d-flex{display: flex}
.fd-column{flex-direction: column}
.row{display: flex}

.content-center{
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.content-end{
    justify-content: end;
    justify-items: end;
    text-align: end;
}

.align-items-center{align-items: center}