

.o-card{
    border: 2px solid rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    padding: 30px;
    width: fit-content;
    margin: 0 auto ;
    box-shadow: 3px 3px 20px grey;
}

.i-card{
    border: 1px solid rgba(128, 128, 128, 0.31);
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.p-30{
    padding: 30px;
}

#photo{
    width: 100%;
}

label{
    font-family: 'Antonio', sans-serif;
    color: #313D47;
}

.inpt{
    width: 100%;
    border-radius: 30px;
    border: 1px dashed black;
    padding: 5px;
    text-align: center;
}

.rowOCR{
    display: flex;
}


#ocrIcon{
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
}

.col-md-5{width: 100% }



#screenshot {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    object-fit: contain;

}

#draw{
    display: none;
}

#draw.active{
  display: block;
  position:absolute;
  z-index:2;
  pointer-events:none;
}

#draw.active #boxes{
  fill:yellow;
  stroke:darkblue;
  stroke-width:1;
  fill-opacity:0.3;
  stroke-opacity:0.9;
}
#draw.active #marquee{
  fill:white;
  stroke:red;
  stroke-width:1;
  stroke-dasharray:5,5;
  stroke-opacity:0.9;
  fill-opacity:0.2;
}
#draw #marquee.hide {
  display:none;
}

@media screen and (max-width: 1000px){
    .rowOCR{
        flex-direction: column;
    }


    .col-md-5{
        width: 100%;
    }

}


