

.card{
    width: 60%!important;
}

.alert{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: rgba(232, 75, 75, 0.52);
}

.success{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: rgba(93, 243, 93, 0.28);
}

.show{
    display: flex;
}