<nav class="d-flex align-items-center">
    <div class="brand">
        <h3>fidauth</h3>
    </div>
    <ul class="nav-menu content-center d-flex" id="nav">
        <li class="nav-item"><a href="/home">Anasayfa</a></li>
        <li class="nav-item"><a href="/documents">Belgeler</a></li>
        <li class="nav-item"><a href="/documents/upload">Belge Yükleme</a></li>
        <li class="nav-item"><a href="/preview">Belge Önizleme</a></li>
    </ul>
    <div class="icons d-flex gap-3" id="icons">
        <i class="fa-regular fa-user" onclick="user()"></i>
        <i class="fa-solid fa-gear" onclick="window.location.href = '/settings'  "></i>
    </div>
    <div class="bar" id="bar">
        <i class="fa-solid fa-bars"></i>
    </div>

</nav>